html{
height:100%;
}



body{
background-image:linear-gradient(green,black);

}

.container{

width:960px;
margin:0 auto;
border:black solid 1px;
background-color:white;
}

header{
background-color:black;
color:red;
height:150px;
text-align:center;
line-height:150px;


}
header h1{
margin:0px;

}

nav{

width:160px;
float:left;

}

section{

width:780px;
float:left;
border-left:solid 1px;
padding-left:5px;
}


footer{

clear:both;
background-color:black;
color:white;
text-align:center;
height:50;
}

.news{
background-color:green;
height:100px;
border:black dashed 1px;
text-align:center;
border-radius:50px;

}

button{
background-color:green;
color:blue;
border-radius:25px;
box-shadow: 2px 2px red

}

img{
float:right;

}
